body {
  margin: 40px;
}

.inputText{ background-color: ivory;
            color:darkgreen;
            position:relative;
            outline: none;
            border: 2px solid gray;
            height: 53px;
            width: 350px;
            padding-left:10px;
            font-family: sans-serif;
          }

.contenedor {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 100px 100px 100px;
        background-color: #fff;
        color: #444;
    }

   .marco {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
    }

  .uno {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .dos {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .tres {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  .cuatro {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .cinco {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .seis {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }